@model RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="register-form mt-5 p-4 bg-white shadow-sm rounded">
                <h2 class="text-center mb-4">Create an account</h2>
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group mb-3">
                        @Html.LabelFor(m => m.FirstName, new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group mb-3">
                        @Html.LabelFor(m => m.LastName, new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group mb-3">
                        @Html.LabelFor(m => m.Email, new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group mb-3">
                        @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                        <div class="input-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            <button type="button" class="btn btn-outline-secondary show-password">Show</button>
                        </div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group mb-3">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
                        <div class="input-group">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            <button type="button" class="btn btn-outline-secondary show-password">Show</button>
                        </div>
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group mb-4">
                        <button type="submit" class="btn btn-primary w-100">Register</button>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger mb-3" })
                    </div>
                }

                <div class="text-center mt-4">
                    <p>Already have an account? <a href="@Url.Action("Login", "Account")" class="text-primary">Sign in here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/showHidePassword.js"></script>
}
